<strong>Hello, {{ provider }}</strong>
<p>We had an appointment canceled. Check below the details:</p>
<p>
  <strong>Client: </strong> {{ user }}<br />
  <strong>Date/Time: </strong> {{ date }}<br /> <br />
  <small>
    The time is available for new appointment.
  </small>
</p>